{% block content %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">Bottlekeep</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if loggedIn %}
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a href="/bottles" class="nav-link text-light">View All</a>
                    </li>
                    <li class="nav-item">
                        <a href="/bottles/new" class="nav-link text-light">New</a>
                    </li>
                    <li class="nav-item">
                        <a href="/bottles/mine" class="nav-link text-light">My Bottles</a>
                    </li>
                    <li class="nav-item">
                        <a href="/auth/logout" class="nav-link text-light">Log Out</a>
                    </li>
                </ul>
            {% else %}
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a href="/auth/signup" class="nav-link text-light">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a href="/auth/login" class="nav-link text-light">Sign In</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}