{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/bottles" method="POST">
        <fieldset>
            <legend>Create New Bottle</legend>
            <label class="form-label">Brand</label>
            <input 
                type="text" 
                name="brand" 
                placeholder="enter brand name"
                class="form-control"
            >
            <label class="form-label">Type</label>
            <input 
                type="text" 
                name="type" 
                placeholder="enter type"
                class="form-control"
            >
            <label class="form-label">Location</label>
            <input 
                type="text" 
                name="location" 
                placeholder="enter location name" 
                class="form-control"
            >
            <label class="form-label">Image</label>
            <input 
                type="text" 
                name="imageurl" 
                placeholder="enter image url" 
                class="form-control"
            >
            <label class="form-label">Date Purchased</label>
            <input 
                type="date" 
                name="datepurchased" 
                class="form-control"
            >
            <label class="form-label">Keep Time</label>
            <input 
                type="number" 
                name="keeptime" 
                placeholder="days"
                class="form-control"
            >
            <label class="form-label">Keep Expiration</label>
            <input 
                type="date" 
                name="keepexpiration" 
                class="form-control"
            >
            <label class="form-label">Volume Remaining</label>
            <input 
                type="number" 
                name="volumeremaining"
                placeholder="milliliters"  
                class="form-control"
            >
            <label class="form-label">Shared With:</label>
            <input 
                type="text" 
                name="sharedwith"
                placeholder="enter names"  
                class="form-control"
            >
            <label class="form-label">Sharing?</label>
            <input 
                type="checkbox" 
                name="sharing" 
                class="form-check-input"
            >
        </fieldset>
        <input type="submit" value="Create New Bottle" class="btn btn-success">
    </form>
</div>
{% endblock %}